<div>
    <h2 *ngIf="queries.length === 0">No search history</h2>
    <div *ngIf="queries.length !== 0" class="controls">
        <button mat-flat-button color="accent" (click)="clearHistory()">Clear History</button>
        <mat-form-field appearance="outline">
            <mat-label>Sort: </mat-label>
            <mat-select name="sort" [ngModel]="sort" (ngModelChange)="changeOrder()">
                <mat-option value="created" selected>Order Searched</mat-option>
                <mat-option value="recent">Most Recent</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-card *ngFor="let query of queries; let i = index" [attr.data-index]="i">
            <mat-card-title>{{query.term}}</mat-card-title>
            <mat-card-content>
                <p>Post type: {{query.type | titlecase}}</p>
                <p>Sorted by: {{query.sort | titlecase}}</p>
                <p *ngIf="query.range === 'all'">Include posts from all time</p>
                <p *ngIf="query.range !== 'all'">Includes posts from the past {{query.range}}</p>
                <p class="link" (click)="search(query)" color="primary">Run this search again</p>
                <button mat-flat-button color="warn" (click)="delete(i)">Delete this search</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>