.nav {
    margin-bottom: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.navLink {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 10px;
}

.page {
    margin-left: 20px;
}