<div>
    <form (ngSubmit)="submit(form)" #form="ngForm">
        <!-- SEARCH PHRASE -->
        <mat-form-field class="example-form-field" appearance="outline">
            <input matInput type="text" name="search" [(ngModel)]="search" placeholder="Search...">
            <!-- clear search button -->
            <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <!-- SEARCH TYPE -->
        <mat-form-field appearance="outline">
            <mat-select name="type" [(ngModel)]="type">
                <mat-option value="all" selected>All</mat-option>
                <mat-option value="story">Stories</mat-option>
                <mat-option value="comment">Comments</mat-option>
                <mat-option value="poll">Polls</mat-option>
                <mat-option value="ask_hn">Ask HN</mat-option>
            </mat-select>
        </mat-form-field>
         <!-- SORT -->
        <mat-form-field appearance="outline">
            <mat-label>Sort by: </mat-label>
            <mat-select name="sort" [(ngModel)]="sort">
                <mat-option value="relevance">Relevance</mat-option>
                <mat-option value="date">Date</mat-option>
            </mat-select>
        </mat-form-field>
         <!-- DATE FILTER -->
        <mat-form-field appearance="outline">
            <mat-label>Include results from: </mat-label>
            <mat-select name="time" [(ngModel)]="time">
                <mat-option value="all">All time</mat-option>
                <mat-option value="day">Past 24 hrs</mat-option>
                <mat-option value="week">Past week</mat-option>
                <mat-option value="month">Past month</mat-option>
                <mat-option value="year">Past year</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button type="submit" mat-flat-button color="primary">Search</button>
        </div>
        </form>
</div>
<!-- PAGINATION -->
<mat-paginator [length]="totalResults" [pageSize]="20" aria-label="Select page" (page)="nextPage($event)" *ngIf="totalResults">

</mat-paginator>
<!-- RESULTS -->
<div *ngFor="let result of results">
    <ng-template [ngIf]="result.url || result.story_url" [ngIfElse]="createLink">
        <a *ngIf="result.title" href="{{result.url}}" target="_blank">{{result.title}}</a>
        <a *ngIf="!result.title" href="{{result.story_url}}" target="_blank">{{result.story_title}}</a>
    </ng-template>
    <ng-template #createLink>
        <a href="https://news.ycombinator.com/item?id={{result.objectID}}" target="_blank">{{result.title}}</a>
    </ng-template>
    <p>posted: {{result.created_at | date : 'shortDate'}}</p>       
</div>