<div>
    <form (ngSubmit)="submit(form)" #form="ngForm">
        <!-- SEARCH PHRASE -->
        <mat-form-field class="example-form-field" appearance="outline">
            <input matInput type="text" name="search" [(ngModel)]="search" placeholder="Search...">
            <!-- clear search button -->
            <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="search=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <!-- SEARCH TYPE -->
        <mat-form-field appearance="outline">
            <mat-select name="type" [(ngModel)]="type">
                <mat-option value="all" selected>All</mat-option>
                <mat-option value="story">Stories</mat-option>
                <mat-option value="comment">Comments</mat-option>
                <mat-option value="poll">Polls</mat-option>
                <mat-option value="ask_hn">Ask HN</mat-option>
            </mat-select>
        </mat-form-field>
        <div>
            <button type="submit" mat-flat-button color="primary">Search</button>
        </div>
        </form>
</div>

<div>
    <div *ngFor="let result of results">
        <!-- results will one or other defined, api change? -->
        <a *ngIf="result.title" href="{{result.url}}" target="_blank">{{result.title}}</a>
        <a *ngIf="!result.title" href="{{result.story_url}}" target="_blank">{{result.story_title}}</a>       
    </div>
</div>
