<div>
    <form (ngSubmit)="submit(form)" #form="ngForm">
        <!-- SEARCH PHRASE -->
        <mat-form-field class="example-form-field" appearance="outline">
            <input matInput type="text" name="term" [(ngModel)]="query.term" placeholder="Search...">
            <!-- clear search button -->
            <button *ngIf="query.term" matSuffix mat-icon-button aria-label="Clear" (click)="query.term=''">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <!-- SEARCH TYPE -->
        <mat-form-field appearance="outline">
            <mat-select name="type" [(ngModel)]="query.type">
                <mat-option value="all" selected>All</mat-option>
                <mat-option value="story">Stories</mat-option>
                <mat-option value="comment">Comments</mat-option>
                <mat-option value="poll">Polls</mat-option>
                <mat-option value="ask_hn">Ask HN</mat-option>
            </mat-select>
        </mat-form-field>
         <!-- SORT -->
        <mat-form-field appearance="outline">
            <mat-label>Sort by: </mat-label>
            <mat-select name="sort" [(ngModel)]="query.sort">
                <mat-option value="relevance">Relevance</mat-option>
                <mat-option value="date">Date</mat-option>
            </mat-select>
        </mat-form-field>
         <!-- DATE FILTER -->
        <mat-form-field appearance="outline">
            <mat-label>Include results from: </mat-label>
            <mat-select name="range" [(ngModel)]="query.range">
                <mat-option value="all">All time</mat-option>
                <mat-option value="day">Past 24 hrs</mat-option>
                <mat-option value="week">Past week</mat-option>
                <mat-option value="month">Past month</mat-option>
                <mat-option value="year">Past year</mat-option>
            </mat-select>
        </mat-form-field>
        <button type="submit" mat-flat-button color="primary" [disabled]="query.term === ''">Search</button>
    </form>
</div>
<div>
    <!-- PAGINATION -->
    <mat-paginator [length]="totalResults" [pageSize]="20" aria-label="Select page" (page)="nextPage($event)" [pageIndex]="pageIndex" *ngIf="totalResults">

    </mat-paginator>
    <!--ERROR-->
    <div *ngIf="errorMsg">
        {{errorMsg}}
    </div>
    <mat-spinner *ngIf="waiting"></mat-spinner>
    <!-- RESULTS -->
    <div>
        <!--TITLE-->
        <mat-card *ngFor="let result of results">       
            <!--
                display and link the title of the post
                    first tests if the url or story url is defined and uses that property if it is
                    otherwise creates a link using the object id (for ask hn and polls)
            -->
            <ng-template [ngIf]="result.url || result.story_url" [ngIfElse]="createLink">
                <mat-card-title *ngIf="result.title">
                    <a href="{{result.url}}" target="_blank">{{result.title}}</a>
                </mat-card-title>
                <mat-card-title *ngIf="!result.title">
                    <a href="{{result.story_url}}" target="_blank">{{result.story_title}}</a>
                </mat-card-title>
            </ng-template>
            <ng-template #createLink>
                <mat-card-title>
                    <a href="https://news.ycombinator.com/item?id={{result.objectID}}" target="_blank">{{result.title}}<span *ngIf="result.title === null">comment</span></a>
                </mat-card-title>
            </ng-template>
            <!--DETAILS-->
            <mat-card-content>
                <!--if there is story text, it will display the first 300 characters before cutting it off-->
                <div *ngIf="result.story_text" [innerHTML]="(result.story_text.length>300) ? ((result.story_text | slice:0:300) + '...') : (result.story_text)"></div>
                <div *ngIf="result.comment_text" [innerHTML]="(result.comment_text.length>300) ? ((result.comment_text | slice:0:300) + '...') : (result.comment_text)"></div>
                <div>
                    <!-- posted date and author(linked) -->
                    <p>submitted on {{result.created_at | date : 'short'}} by <a target="_blank" href="https://news.ycombinator.com/user?id={{result.author}}">{{result.author}}</a></p>
                    <!-- number of points and comments(linked) -->
                    <p><a target="_blank" href="https://news.ycombinator.com/item?id={{result.objectID}}">comments: {{result.num_comments}}<span *ngIf="result.num_comments === null">0</span></a> points: {{result.points}}<span *ngIf="result.points === null">0</span></p>
                </div>      
            </mat-card-content>           
        </mat-card>
    </div>
</div>